<div  id="banner" class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://focus.nouvelobs.com/2022/10/20/27/0/1331/665/1024/512/60/0/d4417c8_1666274013429-the-fabelmans.jpeg)">
  MY LISTS
</div>
